In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

C:\Users\Lan\.conda\envs\PythonData\lib\site-packages\ipykernel\parentpoller.py:116: UserWarning: Parent poll failed.  If the frontend dies,
                the kernel may be left running.  Please let us know
                about your system (bitness, Python, etc.) at
                ipython-dev@scipy.org
  ipython-dev@scipy.org""")

# Cleaning Data

In [2]:
#pulling table/data from Fat_Supply_Quantity_Data.csv

Adata = pd.read_csv("Fat_Supply_Quantity_Data.csv")
Adata

,Country,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,Fish_and_Seafood,Fruits,Meat,...,Vegetable Oils,Vegetables,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population,Unit (all except Population)
0,Afghanistan,0.0000,21.6397,6.2224,0.0,8.0353,0.6859,0.0327,0.4246,6.1244,...,17.0831,0.3593,4.5,29.8,0.120684,0.004680,0.095114,0.019903,38928000.0,%
1,Albania,0.0000,32.0002,3.4172,0.0,2.6734,1.6448,0.1445,0.6418,8.7428,...,9.2443,0.6503,22.3,6.2,1.399542,0.029563,0.701621,0.668358,2838000.0,%
2,Algeria,0.0000,14.4175,0.8972,0.0,4.2035,1.2171,0.2008,0.5772,3.8961,...,27.3606,0.5145,26.6,3.9,0.191816,0.005555,0.123971,0.062290,44357000.0,%
3,Angola,0.0000,15.3041,1.3130,0.0,6.5545,0.1539,1.4155,0.3488,11.0268,...,22.4638,0.1231,6.8,25,0.047103,0.001079,0.025026,0.020998,32522000.0,%
4,Antigua and Barbuda,0.0000,27.7033,4.6686,0.0,3.2153,0.3872,1.5263,1.2177,14.3202,...,14.4436,0.2469,19.1,NaN,0.146939,0.004082,0.135714,0.007143,98000.0,%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,Venezuela (Bolivarian Republic of),0.0000,16.3261,2.2673,0.0,2.5449,0.6555,0.5707,0.9640,7.0949,...,29.5211,0.1851,25.2,21.2,0.359808,0.003159,0.342224,0.014425,28645000.0,%
166,Vietnam,0.0000,33.2484,3.8238,0.0,3.7155,0.7839,1.1217,0.4079,26.4292,...,5.6211,0.6373,2.1,9.3,0.001412,0.000036,0.001248,0.000127,96209000.0,%
167,Yemen,0.0000,12.5401,2.0131,0.0,11.5271,0.5514,0.3847,0.2564,8.0010,...,23.6312,0.1667,14.1,38.9,0.007433,0.002082,0.005090,0.000262,29826000.0,%
168,Zambia,0.0783,9.6005,1.6113,0.0,14.3225,0.6266,1.0070,0.1343,4.9010,...,15.2848,0.1567,6.5,46.7,0.096279,0.001942,0.092940,0.001398,18384000.0,%
169,Zimbabwe,0.0000,10.3796,2.9543,0.0,9.7922,0.3682,0.2455,0.0614,4.5674,...,26.9396,0.0789,12.3,51.3,0.068149,0.001864,0.058151,0.008134,14863000.0,%

In [3]:
#checking columns names
Adata.columns

Index(['Country', 'Alcoholic Beverages', 'Animal Products', 'Animal fats',
       'Aquatic Products, Other', 'Cereals - Excluding Beer', 'Eggs',
       'Fish_and_Seafood', 'Fruits', 'Meat', 'Miscellaneous', 'Milk', 'Offals',
       'Oilcrops', 'Pulses', 'Spices', 'Starchy Roots', 'Stimulants',
       'Sugar Crops', 'Sugar & Sweeteners', 'Treenuts', 'Vegetal Products',
       'Vegetable Oils', 'Vegetables', 'Obesity', 'Undernourished',
       'Confirmed', 'Deaths', 'Recovered', 'Active', 'Population',
       'Unit (all except Population)'],
      dtype='object')

In [4]:
#Re-organized columns 
Adata_df = Adata[["Country","Animal Products","Animal fats","Eggs", 'Fish_and_Seafood', 'Fruits', 'Meat','Milk','Treenuts','Vegetables', 'Obesity', 'Confirmed', 'Deaths', 'Recovered','Population']]
Adata_df.head(10)

,Country,Animal Products,Animal fats,Eggs,Fish_and_Seafood,Fruits,Meat,Milk,Treenuts,Vegetables,Obesity,Confirmed,Deaths,Recovered,Population
0,Afghanistan,21.6397,6.2224,0.6859,0.0327,0.4246,6.1244,8.2803,0.7513,0.3593,4.5,0.120684,0.004680,0.095114,38928000.0
1,Albania,32.0002,3.4172,1.6448,0.1445,0.6418,8.7428,17.7576,0.9181,0.6503,22.3,1.399542,0.029563,0.701621,2838000.0
2,Algeria,14.4175,0.8972,1.2171,0.2008,0.5772,3.8961,8.0934,0.8595,0.5145,26.6,0.191816,0.005555,0.123971,44357000.0
3,Angola,15.3041,1.3130,0.1539,1.4155,0.3488,11.0268,1.2309,0.0308,0.1231,6.8,0.047103,0.001079,0.025026,32522000.0
4,Antigua and Barbuda,27.7033,4.6686,0.3872,1.5263,1.2177,14.3202,6.6607,0.2020,0.2469,19.1,0.146939,0.004082,0.135714,98000.0
5,Argentina,30.3572,3.3076,1.5706,0.1664,0.2091,19.2693,5.8512,0.1366,0.1878,28.5,3.173641,0.086290,2.795156,45377000.0
6,Armenia,29.6642,6.2619,1.6196,0.2218,0.5468,10.8165,10.4709,0.9542,0.8717,20.9,4.642456,0.075372,3.781969,2956000.0
7,Australia,24.1099,4.6030,0.7017,0.4515,0.4028,11.6002,6.5196,1.6145,0.2144,30.4,0.108484,0.003526,0.099456,25754000.0
8,Austria,27.8268,12.8517,1.2147,0.4259,0.2249,8.1099,5.1497,0.8398,0.2039,21.9,3.247263,0.038658,2.621236,8914000.0
9,Azerbaijan,32.1198,7.7987,2.0197,0.2122,0.5940,11.9993,9.9202,2.2573,0.6534,19.9,1.281599,0.014543,0.783162,10108000.0

In [5]:
#Save table as csv file called: Nutrient

Adata_df.to_csv('Nutrient.csv')

In [6]:
#pulling table/data from Fat_Supply_Quantity_Data.csv

Bdata = pd.read_csv("data.csv")
Bdata

,Unnamed: 0,2016,2016.1,2016.2,2015,2015.1,2015.2,2014,2014.1,2014.2,...,1978.2,1977,1977.1,1977.2,1976,1976.1,1976.2,1975,1975.1,1975.2
0,NaN,"Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...",...,"Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great..."
1,NaN,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,...,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years
2,Country,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female,...,Female,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female
3,Afghanistan,5.5 [3.4-8.1],3.2 [1.3-6.4],7.6 [4.3-12.4],5.2 [3.3-7.7],3.0 [1.3-6.0],7.3 [4.1-11.8],4.9 [3.1-7.3],2.8 [1.2-5.6],7.0 [4.0-11.3],...,0.9 [0.3-2.2],0.6 [0.2-1.2],0.2 [0.0-0.7],0.9 [0.3-2.1],0.5 [0.2-1.1],0.2 [0.0-0.7],0.8 [0.2-2.0],0.5 [0.2-1.1],0.2 [0.0-0.6],0.8 [0.2-2.0]
4,Albania,21.7 [17.0-26.7],21.6 [14.8-29.0],21.8 [15.3-28.9],21.1 [16.6-26.0],20.9 [14.4-28.1],21.3 [15.1-28.1],20.5 [16.2-25.1],20.2 [13.9-27.3],20.8 [14.9-27.4],...,9.1 [4.6-15.5],6.8 [4.0-10.7],4.8 [2.0-9.3],8.9 [4.3-15.4],6.7 [3.8-10.6],4.6 [1.8-9.2],8.8 [4.1-15.4],6.5 [3.6-10.5],4.4 [1.7-9.2],8.6 [3.9-15.4]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,Venezuela (Bolivarian Republic of),25.6 [21.3-30.2],22.4 [16.4-28.9],28.6 [22.5-35.2],25.2 [21.0-29.5],22.0 [16.2-28.2],28.3 [22.4-34.6],24.8 [20.8-29.0],21.5 [16.0-27.4],27.9 [22.2-34.1],...,14.4 [8.4-21.4],10.3 [6.7-14.6],6.6 [3.2-11.7],14.0 [8.0-21.3],9.9 [6.3-14.3],6.3 [2.9-11.5],13.6 [7.5-21.0],9.6 [5.9-14.1],5.9 [2.7-11.2],13.2 [7.1-20.7]
194,Viet Nam,2.1 [1.4-3.1],1.6 [0.8-2.8],2.6 [1.5-4.2],2.0 [1.3-2.9],1.5 [0.8-2.5],2.4 [1.4-3.9],1.8 [1.2-2.6],1.3 [0.7-2.3],2.3 [1.3-3.6],...,0.2 [0.1-0.6],0.2 [0.1-0.3],0.1 [0.0-0.2],0.2 [0.1-0.5],0.1 [0.1-0.3],0.1 [0.0-0.2],0.2 [0.1-0.5],0.1 [0.0-0.3],0.1 [0.0-0.2],0.2 [0.1-0.5]
195,Yemen,17.1 [13.3-21.3],12.0 [7.3-17.6],22.0 [16.0-28.4],16.5 [12.9-20.5],11.4 [7.0-16.7],21.3 [15.6-27.4],15.9 [12.4-19.6],10.8 [6.7-15.7],20.6 [15.2-26.4],...,4.8 [2.0-9.3],3.1 [1.5-5.7],1.3 [0.4-3.3],4.5 [1.9-9.2],2.9 [1.4-5.6],1.3 [0.3-3.2],4.3 [1.7-9.0],2.8 [1.3-5.4],1.2 [0.3-3.1],4.2 [1.5-8.9]
196,Zambia,8.1 [5.8-10.7],3.6 [1.7-6.5],12.4 [8.5-17.1],7.7 [5.6-10.2],3.4 [1.6-6.1],12.0 [8.2-16.4],7.4 [5.4-9.8],3.2 [1.5-5.7],11.5 [7.9-15.7],...,3.0 [1.3-5.6],1.7 [0.8-3.2],0.5 [0.1-1.5],2.9 [1.2-5.4],1.6 [0.7-3.1],0.5 [0.1-1.4],2.7 [1.1-5.3],1.5 [0.7-3.0],0.5 [0.1-1.4],2.5 [1.0-5.1]
197,Zimbabwe,15.5 [12.0-19.2],4.7 [2.5-8.0],25.3 [19.1-32.0],15.2 [11.9-18.8],4.5 [2.4-7.6],24.8 [18.9-31.3],14.9 [11.7-18.4],4.4 [2.4-7.3],24.4 [18.8-30.6],...,7.7 [3.9-13.1],4.0 [2.1-6.8],0.5 [0.1-1.3],7.4 [3.6-12.7],3.9 [1.9-6.7],0.5 [0.1-1.3],7.0 [3.3-12.4],3.7 [1.7-6.5],0.4 [0.1-1.3],6.7 [3.0-12.2]

In [7]:
Bdata.columns

Index(['Unnamed: 0', '2016', '2016.1', '2016.2', '2015', '2015.1', '2015.2',
       '2014', '2014.1', '2014.2',
       ...
       '1978.2', '1977', '1977.1', '1977.2', '1976', '1976.1', '1976.2',
       '1975', '1975.1', '1975.2'],
      dtype='object', length=127)

In [8]:
#pulling 2016 data only

Bdata_df = Bdata[['Unnamed: 0', '2016', '2016.1', '2016.2']]
Bdata_df

,Unnamed: 0,2016,2016.1,2016.2
0,NaN,"Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great..."
1,NaN,18+ years,18+ years,18+ years
2,Country,Both sexes,Male,Female
3,Afghanistan,5.5 [3.4-8.1],3.2 [1.3-6.4],7.6 [4.3-12.4]
4,Albania,21.7 [17.0-26.7],21.6 [14.8-29.0],21.8 [15.3-28.9]
...,...,...,...,...
193,Venezuela (Bolivarian Republic of),25.6 [21.3-30.2],22.4 [16.4-28.9],28.6 [22.5-35.2]
194,Viet Nam,2.1 [1.4-3.1],1.6 [0.8-2.8],2.6 [1.5-4.2]
195,Yemen,17.1 [13.3-21.3],12.0 [7.3-17.6],22.0 [16.0-28.4]
196,Zambia,8.1 [5.8-10.7],3.6 [1.7-6.5],12.4 [8.5-17.1]
197,Zimbabwe,15.5 [12.0-19.2],4.7 [2.5-8.0],25.3 [19.1-32.0]

In [9]:
#rename headers

Bdata_df= Bdata_df.rename(columns={'Unnamed: 0': 'Country', '2016':'Obesity (both_sexes)', '2016.1':'Obesity (Male)', '2016.2':'Obesity (Female)' })
Bdata_df

,Country,Obesity (both_sexes),Obesity (Male),Obesity (Female)
0,NaN,"Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great..."
1,NaN,18+ years,18+ years,18+ years
2,Country,Both sexes,Male,Female
3,Afghanistan,5.5 [3.4-8.1],3.2 [1.3-6.4],7.6 [4.3-12.4]
4,Albania,21.7 [17.0-26.7],21.6 [14.8-29.0],21.8 [15.3-28.9]
...,...,...,...,...
193,Venezuela (Bolivarian Republic of),25.6 [21.3-30.2],22.4 [16.4-28.9],28.6 [22.5-35.2]
194,Viet Nam,2.1 [1.4-3.1],1.6 [0.8-2.8],2.6 [1.5-4.2]
195,Yemen,17.1 [13.3-21.3],12.0 [7.3-17.6],22.0 [16.0-28.4]
196,Zambia,8.1 [5.8-10.7],3.6 [1.7-6.5],12.4 [8.5-17.1]
197,Zimbabwe,15.5 [12.0-19.2],4.7 [2.5-8.0],25.3 [19.1-32.0]

In [10]:
#drop row with NaN values

Bdata_df=Bdata_df.dropna()
Bdata_df

,Country,Obesity (both_sexes),Obesity (Male),Obesity (Female)
2,Country,Both sexes,Male,Female
3,Afghanistan,5.5 [3.4-8.1],3.2 [1.3-6.4],7.6 [4.3-12.4]
4,Albania,21.7 [17.0-26.7],21.6 [14.8-29.0],21.8 [15.3-28.9]
5,Algeria,27.4 [22.5-32.7],19.9 [13.6-27.1],34.9 [27.6-42.7]
6,Andorra,25.6 [20.1-31.3],25.9 [18.0-34.3],25.3 [17.7-33.7]
...,...,...,...,...
193,Venezuela (Bolivarian Republic of),25.6 [21.3-30.2],22.4 [16.4-28.9],28.6 [22.5-35.2]
194,Viet Nam,2.1 [1.4-3.1],1.6 [0.8-2.8],2.6 [1.5-4.2]
195,Yemen,17.1 [13.3-21.3],12.0 [7.3-17.6],22.0 [16.0-28.4]
196,Zambia,8.1 [5.8-10.7],3.6 [1.7-6.5],12.4 [8.5-17.1]
197,Zimbabwe,15.5 [12.0-19.2],4.7 [2.5-8.0],25.3 [19.1-32.0]

In [11]:
#drop row with index 2

Bdata_df=Bdata_df.drop([2])
Bdata_df

,Country,Obesity (both_sexes),Obesity (Male),Obesity (Female)
3,Afghanistan,5.5 [3.4-8.1],3.2 [1.3-6.4],7.6 [4.3-12.4]
4,Albania,21.7 [17.0-26.7],21.6 [14.8-29.0],21.8 [15.3-28.9]
5,Algeria,27.4 [22.5-32.7],19.9 [13.6-27.1],34.9 [27.6-42.7]
6,Andorra,25.6 [20.1-31.3],25.9 [18.0-34.3],25.3 [17.7-33.7]
7,Angola,8.2 [5.1-12.2],4.0 [1.6-7.9],12.1 [6.8-19.0]
...,...,...,...,...
193,Venezuela (Bolivarian Republic of),25.6 [21.3-30.2],22.4 [16.4-28.9],28.6 [22.5-35.2]
194,Viet Nam,2.1 [1.4-3.1],1.6 [0.8-2.8],2.6 [1.5-4.2]
195,Yemen,17.1 [13.3-21.3],12.0 [7.3-17.6],22.0 [16.0-28.4]
196,Zambia,8.1 [5.8-10.7],3.6 [1.7-6.5],12.4 [8.5-17.1]
197,Zimbabwe,15.5 [12.0-19.2],4.7 [2.5-8.0],25.3 [19.1-32.0]

In [12]:
#remove all values inside [ ] and the bracket itself

Bdata_df['Obesity (both_sexes)']= Bdata_df['Obesity (both_sexes)'].str.split("\s+\[").str[0]
Bdata_df['Obesity (Male)']= Bdata_df['Obesity (Male)'].str.split("\s+\[").str[0]
Bdata_df['Obesity (Female)']= Bdata_df['Obesity (Female)'].str.split("\s+\[").str[0]
Bdata_df.head(10)

                Country Obesity (both_sexes) Obesity (Male) Obesity (Female)
3           Afghanistan                  5.5            3.2              7.6
4               Albania                 21.7           21.6             21.8
5               Algeria                 27.4           19.9             34.9
6               Andorra                 25.6           25.9             25.3
7                Angola                  8.2            4.0             12.1
8   Antigua and Barbuda                 18.9           11.6             25.9
9             Argentina                 28.3           27.3             29.0
10              Armenia                 20.2           17.1             23.0
11            Australia                 29.0           29.6             28.4
12              Austria                 20.1           21.9             18.3

In [13]:
# Reset index 
Bdata_df = Bdata_df.reset_index(drop=True)
Bdata_df

,Country,Obesity (both_sexes),Obesity (Male),Obesity (Female)
0,Afghanistan,5.5,3.2,7.6
1,Albania,21.7,21.6,21.8
2,Algeria,27.4,19.9,34.9
3,Andorra,25.6,25.9,25.3
4,Angola,8.2,4.0,12.1
...,...,...,...,...
190,Venezuela (Bolivarian Republic of),25.6,22.4,28.6
191,Viet Nam,2.1,1.6,2.6
192,Yemen,17.1,12.0,22.0
193,Zambia,8.1,3.6,12.4
194,Zimbabwe,15.5,4.7,25.3

In [14]:
#Save table as csv file called: Obesity_percentage

Bdata_df.to_csv('Obsesity_percentage.csv')